<div class="tab-block">

    {{!-- Dream Form Attributes --}}
    {{#if system.isDreaming}}
    <div class="attributes-flexrow">
        <ol class="attributes-list dreamAttributes {{#if owodAttributeOrdering}}owod-mental{{/if}}">
            {{#each config.attributes_mental_dream as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_mental_dream" ckey}}}
            {{/each}}
        </ol>
        <ol class="attributes-list dreamAttributes {{#if owodAttributeOrdering}}owod-physical{{/if}}">
            {{#each config.attributes_physical_dream as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_physical_dream" ckey}}}
            {{/each}}
        </ol>

        <ol class="attributes-list dreamAttributes {{#if owodAttributeOrdering}}owod-social{{/if}}">
            {{#each config.attributes_social_dream as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_social_dream" ckey}}}
            {{/each}}
        </ol>

    </div>
    {{else}}
    {{!-- Attributes --}}
    <div class="attributes-flexrow">
        <ol class="attributes-list {{#if owodAttributeOrdering}}owod-mental{{/if}}">
            <li class="attributes-header major flexrow">
                <span class="attribute-header">{{ localize "MTA.Mental" }}</span>
                {{#if system.generalModifiers.mentalDicePools.final}}<span
                    class="general-mod {{posneg system.generalModifiers.mentalDicePools.final 0}}">({{addPlus
                    system.generalModifiers.mentalDicePools.final}})</span>{{/if}}
            </li>
            <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
            </li>
            {{#each config.attributes_mental as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_mental" ckey}}}
            {{/each}}
        </ol>
        <ol class="attributes-list {{#if owodAttributeOrdering}}owod-physical{{/if}}">
            <li class="attributes-header major flexrow">
                <span class="attribute-header">{{ localize "MTA.Physical" }}</span>
                {{#if system.generalModifiers.physicalDicePools.final}}<span
                    class="general-mod {{posneg system.generalModifiers.physicalDicePools.final 0}}">({{addPlus
                    system.generalModifiers.physicalDicePools.final}})</span>{{/if}}
            </li>
            <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
            </li>
            {{#each config.attributes_physical as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_physical" ckey}}}
            {{/each}}
        </ol>

        <ol class="attributes-list {{#if owodAttributeOrdering}}owod-social{{/if}}">
            <li class="attributes-header major flexrow">
                <span class="attribute-header">{{ localize "MTA.Social" }}</span>
                {{#if system.generalModifiers.socialDicePools.final}}<span
                    class="general-mod {{posneg system.generalModifiers.socialDicePools.final 0}}">({{addPlus
                    system.generalModifiers.socialDicePools.final}})</span>{{/if}}
            </li>
            <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
            </li>
            {{#each config.attributes_social as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_social" ckey}}}
            {{/each}}
        </ol>
    </div>
    {{/if}}
    {{!-- Skills --}}
    {{#unless (eq actor.type "simple_antagonist")}}
    <div class="attributes-flexrow">
        <ol class="attributes-list {{#if owodAttributeOrdering}}owod-mental{{/if}}">
            <li class="attributes-header flexrow">
                {{#if (eq system.characterType "Mage")}}<span class="attribute-key">{{ localize "MTA.Rote"
                    }}</span>{{/if}}
                <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
            </li>
            {{#each config.skills_mental as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_mental" ckey}}}
            {{/each}}
        </ol>
        <ol class="attributes-list {{#if owodAttributeOrdering}}owod-physical{{/if}}">
            <li class="attributes-header flexrow">
                {{#if (eq system.characterType "Mage")}}<span class="attribute-key">{{ localize "MTA.Rote"
                    }}</span>{{/if}}
                <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
            </li>
            {{#each config.skills_physical as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_physical" ckey}}}
            {{/each}}
        </ol>

        <ol class="attributes-list {{#if owodAttributeOrdering}}owod-social{{/if}}">
            <li class="attributes-header flexrow">
                {{#if (eq system.characterType "Mage")}}<span class="attribute-key">{{ localize "MTA.Rote"
                    }}</span>{{/if}}
                <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
            </li>
            {{#each config.skills_social as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_social" ckey}}}
            {{/each}}
        </ol>


    </div>
    {{/unless}}
</div>